{% extends "base.html" %}

{%block content%}

<div class="elementor elementor-18">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							
				
				<section data-id="ad1c7b6" class="elementor-element elementor-element-ad1c7b6 elementor-section-height-min-height elementor-section-items-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">


					<div id="content" class="site-content">

		<div class="ast-container">

				<div class="elementor elementor-2">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							
				
				

			


				<section data-id="87a1c2f" class="elementor-element elementor-element-87a1c2f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section " data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="67fc43e" class="elementor-element elementor-element-67fc43e elementor-column elementor-col-100 elementor-top-column color_text" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="bf7532b" class="elementor-element elementor-element-bf7532b elementor-widget elementor-widget-global elementor-global-222 elementor-widget-breadcrumbs" data-element_type="breadcrumbs.default">
				<div class="elementor-widget-container">
			<p class="" id="breadcrumbs"><span><span><a href="https://nhcenter.ru/">Главная страница</a> » <span class="breadcrumb_last">Контакты</span></span></span></p>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>



		<section data-id="b9c0e8e" class="elementor-element elementor-element-b9c0e8e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="0f4e7c4" class="elementor-element elementor-element-0f4e7c4 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="0051c05" class="elementor-element elementor-element-0051c05 elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h1 class="elementor-heading-title elementor-size-default" style="color: black;">Контактная информация</h1>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>


		<section data-id="a70c503" class="elementor-element elementor-element-a70c503 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="982d551" class="elementor-element elementor-element-982d551 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="16b402d" class="elementor-element elementor-element-16b402d elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div data-id="aaab9c4" class="elementor-element elementor-element-aaab9c4 elementor-view-framed elementor-position-left elementor-shape-circle elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-element_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
					<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 style="color: black; class="elementor-icon-box-title">
					<span>г. Тюмень, ул. Железнодорожная 45/3</span>
				</h3>
				<p class="elementor-icon-box-description"></p>
			</div>
		</div>
				</div>
				</div>
				<div data-id="81907e3" class="elementor-element elementor-element-81907e3 elementor-view-framed elementor-position-left elementor-shape-circle elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-element_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
					<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<i class="fa fa-phone" aria-hidden="true"></i>
				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 style="color: black; class="elementor-icon-box-title">
					<span><a class="callibri_phone" href="tel:+79859992206&quot;">+7 (985) 999-22-06</a></span>
				</h3>
				
			</div>
		</div>
				</div>
				</div>
				<div data-id="81907e3" class="elementor-element elementor-element-81907e3 elementor-view-framed elementor-position-left elementor-shape-circle elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-element_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
					<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<i class="fa fa-phone" aria-hidden="true"></i>
				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 style="color: black; class="elementor-icon-box-title">
					<span><a class="callibri_phone" href="tel:+79859992206&quot;">+7 (985) 999-22-06</a></span>
				</h3>
				
			</div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div data-id="272ab0e" class="elementor-element elementor-element-272ab0e elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="454c44a" class="elementor-element elementor-element-454c44a elementor-button-align-stretch elementor-widget elementor-widget-form" data-element_type="form.default">
				<div class="elementor-widget-container">
					<form class="elementor-form" method="post" name="Контакты">
			<input type="hidden" name="post_id" value="16">
			<input type="hidden" name="form_id" value="454c44a">

			<div class="elementor-form-fields-wrapper elementor-labels-above">
								<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required">
					<label for="form-field-name" class="elementor-field-label">Имя</label><input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Введите своё имя" required="required" aria-required="true">				</div>
								<div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required">
					<label for="form-field-email" class="elementor-field-label">Email</label><input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Введите свой Email" required="required" aria-required="true">				</div>
								<div class="elementor-field-type-textarea elementor-field-group elementor-column elementor-field-group-message elementor-col-100 elementor-field-required">
					<label for="form-field-message" class="elementor-field-label">Сообщение</label><textarea class="elementor-field-textual elementor-field  elementor-size-sm" name="form_fields[message]" id="form-field-message" rows="4" placeholder="Напишите обращение" required="required" aria-required="true"></textarea>				</div>
								<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100">
					<button type="submit" class="elementor-button elementor-size-sm">
						<span>
																						<span class="elementor-button-text">Отправить</span>
													</span>
					</button>
				</div>
			</div>
		</form>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>

		<section data-id="431fd0e" class="elementor-element elementor-element-431fd0e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="4f407af" class="elementor-element elementor-element-4f407af elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="4a7a409" class="elementor-element elementor-element-4a7a409 elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>

		<section data-id="753805c" class="elementor-element elementor-element-753805c elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="ff8a21d" class="elementor-element elementor-element-ff8a21d elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="8dd2ad0" class="elementor-element elementor-element-8dd2ad0 elementor-widget elementor-widget-google_maps" data-element_type="google_maps.default">
				<div class="elementor-widget-container">
			<div class="elementor-custom-embed"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2164.1887815196033!2d65.51034795157531!3d57.150929890668834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43bbe17faccc19c1%3A0x2c66f690138e821b!2z0JbQtdC70LXQt9C90L7QtNC-0YDQvtC20L3QsNGPINGD0LsuLCA0NSwg0KLRjtC80LXQvdGMLCDQotGO0LzQtdC90YHQutCw0Y8g0L7QsdC7LiwgNjI1MDAz!5e0!3m2!1sru!2sru!4v1569574658283!5m2!1sru!2sru" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>



<section data-id="1708ea4" class="elementor-element elementor-element-1708ea4 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="cbdd648" class="elementor-element elementor-element-cbdd648 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="ddcd316" class="elementor-element elementor-element-ddcd316 elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>





				
				<section data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
					
			</div> <!-- ast-container -->

		</div>




						
		</section>

				
						</div>
			</div>
		</div>

{% endblock %}