{% extends "base.html" %}

{%block content%}



<div class="elementor elementor-18">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							
				
				<section data-id="ad1c7b6" class="elementor-element elementor-element-ad1c7b6 elementor-section-height-min-height elementor-section-items-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">


					<div id="content" class="site-content">

		<div class="ast-container">

				<div class="elementor elementor-2">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							
				
				

				





			


				<section data-id="87a1c2f" class="elementor-element elementor-element-87a1c2f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section " data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="67fc43e" class="elementor-element elementor-element-67fc43e elementor-column elementor-col-100 elementor-top-column color_text" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="bf7532b" class="elementor-element elementor-element-bf7532b elementor-widget elementor-widget-global elementor-global-222 elementor-widget-breadcrumbs" data-element_type="breadcrumbs.default">
				<div class="elementor-widget-container">
			<p class="" id="breadcrumbs"><span><span><a href="https://nhcenter.ru/">Главная страница</a> » <span class="breadcrumb_last">Тренировки</span></span></span></p>		</div>
				</div>
						</div>

			</div>
		</div>
						</div>
			</div>
		</section>






			<section data-id="b9c0e8e" class="elementor-element elementor-element-b9c0e8e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="0f4e7c4" class="elementor-element elementor-element-0f4e7c4 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="0051c05" class="elementor-element elementor-element-0051c05 elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h1 class="elementor-heading-title elementor-size-default" style="color: black;">Тренировки в нашем центре</h1>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>










		<section data-id="b9c0e8e" class="elementor-element elementor-element-b9c0e8e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="0f4e7c4" class="elementor-element elementor-element-0f4e7c4 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="0051c05" class="elementor-element elementor-element-0051c05 elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h1 class="elementor-heading-title elementor-size-default" style="color: black;">

					
<div class="fotorama"
     data-nav="thumbs">
  <a href="/static/img/IMG-20190908-WA0011.jpg"><img src="/static/img/IMG-20190908-WA0011.jpg" width="144" height="96"></a>
  <a href="/static/img/IMG-20190908-WA0010.jpg"><img src="/static/img/IMG-20190908-WA0010.jpg" width="144" height="96"></a>
  <a href="/static/img/IMG-20190908-WA0009.jpg"><img src="/static/img/IMG-20190908-WA0009.jpg" width="144" height="96"></a>
  <a href="/static/img/IMG-20190908-WA0025.jpg"><img src="/static/img/IMG-20190908-WA0025.jpg" width="144" height="96"></a>
  <a href="/static/img/IMG-20190908-WA0012.jpg"><img src="/static/img/IMG-20190908-WA0012.jpg" width="144" height="96"></a>
  <a href="/static/img/IMG-20190908-WA0015.jpg"><img src="/static/img/IMG-20190908-WA0015.jpg" width="144" height="96"></a>
  <a href="/static/img/1568268006493.jpg"><img src="/static/img/1568268006493.jpg" width="144" height="96"></a>
  
</div>

			</h1>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>


	

		

	



<section data-id="1708ea4" class="elementor-element elementor-element-1708ea4 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="cbdd648" class="elementor-element elementor-element-cbdd648 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="ddcd316" class="elementor-element elementor-element-ddcd316 elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>





				
				<section data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
					
			</div> <!-- ast-container -->

		</div>




						
		</section>

				
						</div>
			</div>
		</div>

{% endblock %}