{% extends "base.html" %}

{%block content%}


<div class="elementor elementor-18">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							
				
				<section data-id="ad1c7b6" class="elementor-element elementor-element-ad1c7b6 elementor-section-height-min-height elementor-section-items-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">


					<div id="content" class="site-content">

		<div class="ast-container">

				<div class="elementor elementor-2">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section data-id="f5cecb7" class="elementor-element elementor-element-f5cecb7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="77b6781" class="elementor-element elementor-element-77b6781 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="bbba896" class="elementor-element elementor-element-bbba896 elementor-widget elementor-widget-global elementor-global-222 elementor-widget-breadcrumbs" data-element_type="breadcrumbs.default">
				<div class="elementor-widget-container">
			<p id="breadcrumbs"><span><span><a href="/">Главная страница</a> » <span class="breadcrumb_last">Тренировки в центре</span></span></span></p>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section data-id="e7bf1a6" class="elementor-element elementor-element-e7bf1a6 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="062118e" class="elementor-element elementor-element-062118e elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="c5a8edf" class="elementor-element elementor-element-c5a8edf elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h1 style="color:black;" class="elementor-heading-title elementor-size-default color_text">Тренировки в центре</h1>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>

				<section data-id="e7bf1a6" class="elementor-element elementor-element-e7bf1a6 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="062118e" class="elementor-element elementor-element-062118e elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="c5a8edf" class="elementor-element elementor-element-c5a8edf elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h1 style="color:black; font-size: 20px;" class="elementor-heading-title elementor-size-default color_text">тренировки в зоне ОФП</h1>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>


				<section data-id="8609cd5" class="elementor-element elementor-element-8609cd5 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="263dad1" class="elementor-element elementor-element-263dad1 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section data-id="e3ad70a" class="elementor-element elementor-element-e3ad70a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="4c4c614" class="elementor-element elementor-element-4c4c614 elementor-column elementor-col-50 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a2d0188" class="elementor-element elementor-element-a2d0188 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				
					<div class="fotorama razmer"
     data-nav="thumbs" data-allowfullscreen="true">

  <a href="/static/img/ofp/IMG-20190908-WA0011.jpg"><img src="/static/img/ofp/IMG-20190908-WA0011.jpg" width="144" height="96"></a>
  <a href="/static/img/ofp/IMG-20190908-WA0010.jpg"><img src="/static/img/ofp/IMG-20190908-WA0010.jpg" width="144" height="96"></a>
  <a href="/static/img/ofp/IMG-20190908-WA0009.jpg"><img src="/static/img/ofp/IMG-20190908-WA0009.jpg" width="144" height="96"></a>
  <a href="/static/img/ofp/IMG-20190908-WA0025.jpg"><img src="/static/img/ofp/IMG-20190908-WA0025.jpg" width="144" height="96"></a>
  <a href="/static/img/ofp/IMG-20190908-WA0012.jpg"><img src="/static/img/ofp/IMG-20190908-WA0012.jpg" width="144" height="96"></a>
  <a href="/static/img/ofp/IMG-20190908-WA0015.jpg"><img src="/static/img/ofp/IMG-20190908-WA0015.jpg" width="144" height="96"></a>
  
	
</div>
					
				
				</div>
						</div>
			</div>
		</div>
				<div data-id="65137bf" class="elementor-element elementor-element-65137bf elementor-column elementor-col-50 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e2542d0" class="elementor-element elementor-element-e2542d0 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div style="font-size: 20px" class="elementor-text-editor elementor-clearfix"><p>Тренировки в зоне ОФП ведутся для развития основных качеств
физической подготовки хоккеистов: сила, гибкость, координация, скорость и ловкость.
Цена 30 мин 500 руб</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<div data-id="e97072a" class="elementor-element elementor-element-e97072a elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div data-id="e620659" class="elementor-element elementor-element-e620659 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p></p></div>
				</div>
				</div>
				<div data-id="27b68ee" class="elementor-element elementor-element-27b68ee elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				
				<section data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
					
			</div> <!-- ast-container -->

		</div>




					
		</section>

				
						</div>
			</div>
		</div>











		<section style="background-color: white;" data-id="e7bf1a6" class="elementor-element elementor-element-e7bf1a6 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="062118e" class="elementor-element elementor-element-062118e elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="c5a8edf" class="elementor-element elementor-element-c5a8edf elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h1 style="color:black; font-size: 20px;" class="elementor-heading-title elementor-size-default color_text">Хоккейная беговая дорожка</h1>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>




		<div class="elementor elementor-18">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							
				
				<section data-id="ad1c7b6" class="elementor-element elementor-element-ad1c7b6 elementor-section-height-min-height elementor-section-items-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">


					<div id="content" class="site-content">

		<div class="ast-container">

				<div class="elementor elementor-2">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section data-id="f5cecb7" class="elementor-element elementor-element-f5cecb7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="77b6781" class="elementor-element elementor-element-77b6781 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			
		</div>
						</div>
			</div>
		</section>
			
				<section data-id="8609cd5" class="elementor-element elementor-element-8609cd5 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="263dad1" class="elementor-element elementor-element-263dad1 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section data-id="e3ad70a" class="elementor-element elementor-element-e3ad70a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="4c4c614" class="elementor-element elementor-element-4c4c614 elementor-column elementor-col-50 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a2d0188" class="elementor-element elementor-element-a2d0188 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				
					<div class="fotorama razmer"
     data-nav="thumbs" data-allowfullscreen="true">

  <a href="/static/img/dorojka/IMG-20190910-WA0003.jpg"><img src="/static/img/dorojka/IMG-20190910-WA0003.jpg" width="144" height="96"></a>
  <a href="/static/img/dorojka/IMG-20190910-WA0002.jpg"><img src="/static/img/dorojka/IMG-20190910-WA0002.jpg" width="144" height="96"></a>
  <a href="/static/img/dorojka/1568268007264.jpg"><img src="/static/img/dorojka/1568268007264.jpg" width="144" height="96"></a>
  <a href="/static/img/dorojka/1568268007651.jpg"><img src="/static/img/dorojka/1568268007651.jpg" width="144" height="96"></a>
  <a href="/static/img/dorojka/IMG-20190908-WA0017.jpg"><img src="/static/img/dorojka/IMG-20190908-WA0017.jpg" width="144" height="96"></a>
  
 
	
</div>
					
				
				</div>
						</div>
			</div>
		</div>
				<div data-id="65137bf" class="elementor-element elementor-element-65137bf elementor-column elementor-col-50 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e2542d0" class="elementor-element elementor-element-e2542d0 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div style="font-size: 20px" class="elementor-text-editor elementor-clearfix"><p>Хоккейная беговая дорожка ГЕНЕРАЛХОККЕЙ- тренажер предназначен для
отработки техники катания вне ледовой площадки. Основные направления работы на
тренажеры: скорость, правильная посадка, выносливость, укрепление мыщц ног и
реабилитация после травм. Цена 30 мин 500 руб.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<div data-id="e97072a" class="elementor-element elementor-element-e97072a elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div data-id="e620659" class="elementor-element elementor-element-e620659 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p></p></div>
				</div>
				</div>
				<div data-id="27b68ee" class="elementor-element elementor-element-27b68ee elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				
				<section data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
					
			</div> <!-- ast-container -->

		</div>




					
		</section>

				
						</div>
			</div>
		</div>
		<section style="background-color: white;" data-id="e7bf1a6" class="elementor-element elementor-element-e7bf1a6 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="062118e" class="elementor-element elementor-element-062118e elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="c5a8edf" class="elementor-element elementor-element-c5a8edf elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h1 style="color:black; font-size: 20px;" class="elementor-heading-title elementor-size-default color_text">Rapidshot</h1>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>




		<div class="elementor elementor-18">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							
				
				<section data-id="ad1c7b6" class="elementor-element elementor-element-ad1c7b6 elementor-section-height-min-height elementor-section-items-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">


					<div id="content" class="site-content">

		<div class="ast-container">

				<div class="elementor elementor-2">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section data-id="f5cecb7" class="elementor-element elementor-element-f5cecb7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="77b6781" class="elementor-element elementor-element-77b6781 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			
		</div>
						</div>
			</div>
		</section>
			
				<section data-id="8609cd5" class="elementor-element elementor-element-8609cd5 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="263dad1" class="elementor-element elementor-element-263dad1 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section data-id="e3ad70a" class="elementor-element elementor-element-e3ad70a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="4c4c614" class="elementor-element elementor-element-4c4c614 elementor-column elementor-col-50 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a2d0188" class="elementor-element elementor-element-a2d0188 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				
					<div class="fotorama razmer"
     data-nav="thumbs" data-allowfullscreen="true">

  <a href="/static/img/rapidshot/22222222.jpg"><img src="/static/img/rapidshot/22222222.jpg" width="144" height="96"></a>
  <a href="/static/img/IMG-20190908-WA0010.jpg"><img src="/static/img/rapidshot/IMG-20190908-WA0010.jpg" width="144" height="96"></a>
  <a href="/static/img/IMG-20190908-WA0009.jpg"><img src="/static/img/rapidshot/IMG-20190908-WA0009.jpg" width="144" height="96"></a>
  <a href="/static/img/IMG-20190908-WA0025.jpg"><img src="/static/img/rapidshot/IMG-20190908-WA0025.jpg" width="144" height="96"></a>
  <a href="/static/img/IMG-20190908-WA0012.jpg"><img src="/static/img/rapidshot/IMG-20190908-WA0012.jpg" width="144" height="96"></a>
  <a href="/static/img/IMG-20190908-WA0015.jpg"><img src="/static/img/rapidshot/IMG-20190908-WA0015.jpg" width="144" height="96"></a>
  <a href="/static/img/1568268006493.jpg"><img src="/static/img/rapidshot/1568268006493.jpg" width="144" height="96"></a>
	
</div>
					
				
				</div>
						</div>
			</div>
		</div>
				<div data-id="65137bf" class="elementor-element elementor-element-65137bf elementor-column elementor-col-50 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e2542d0" class="elementor-element elementor-element-e2542d0 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div style="font-size: 20px" class="elementor-text-editor elementor-clearfix"><p>Rapidshot- тренажер предназначенный для отработки техники, силы и точности
броска. Широко используется в северной америке клубами нхл и в другихевропейских
странах. План тренировки составляется индивидуально под каждого хоккеиста, занятие
проводится под наблюдением тренера.
Цена 30 мин 500 руб</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<div data-id="e97072a" class="elementor-element elementor-element-e97072a elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div data-id="e620659" class="elementor-element elementor-element-e620659 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p></p></div>
				</div>
				</div>
				<div data-id="27b68ee" class="elementor-element elementor-element-27b68ee elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				
				<section data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
					
			</div> <!-- ast-container -->

		</div>




					
		</section>

				
						</div>
			</div>
		</div>

		<section style="background-color: white;" data-id="e7bf1a6" class="elementor-element elementor-element-e7bf1a6 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="062118e" class="elementor-element elementor-element-062118e elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="c5a8edf" class="elementor-element elementor-element-c5a8edf elementor-widget elementor-widget-heading" data-element_type="heading.default">
				<div class="elementor-widget-container">
			<h1 style="color:black; font-size: 20px;" class="elementor-heading-title elementor-size-default color_text">Тренировки на льду</h1>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>




		<div class="elementor elementor-18">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							
				
				<section data-id="ad1c7b6" class="elementor-element elementor-element-ad1c7b6 elementor-section-height-min-height elementor-section-items-top elementor-section-boxed elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">


					<div id="content" class="site-content">

		<div class="ast-container">

				<div class="elementor elementor-2">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section data-id="f5cecb7" class="elementor-element elementor-element-f5cecb7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="77b6781" class="elementor-element elementor-element-77b6781 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			
		</div>
						</div>
			</div>
		</section>
			
				<section data-id="8609cd5" class="elementor-element elementor-element-8609cd5 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="263dad1" class="elementor-element elementor-element-263dad1 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<section data-id="e3ad70a" class="elementor-element elementor-element-e3ad70a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="4c4c614" class="elementor-element elementor-element-4c4c614 elementor-column elementor-col-50 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="a2d0188" class="elementor-element elementor-element-a2d0188 elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-settings="{&quot;aspect_ratio&quot;:&quot;169&quot;}" data-element_type="video.default">
				
					<div class="fotorama razmer"
     data-nav="thumbs" data-allowfullscreen="true">

  <a href="/static/img/led/IMG-20190908-WA0005.jpg"><img src="/static/img/led/IMG-20190908-WA0005.jpg" width="144" height="96"></a>
  <a href="/static/img/led/1568268005398.jpg"><img src="/static/img/led/1568268005398.jpg" width="144" height="96"></a>
  <a href="/static/img/led/IMG-20190908-WA0002.jpg"><img src="/static/img/led/IMG-20190908-WA0002.jpg" width="144" height="96"></a>
  <a href="/static/img/led/"><img src="/static/img/led/" width="144" height="96"></a>
  <a href="/static/img/led/"><img src="/static/img/led/" width="144" height="96"></a>
  <a href="/static/img/led/"><img src="/static/img/led/" width="144" height="96"></a>
  <a href="/static/img/1568268006493.jpg"><img src="/static/img/led/1568268006493.jpg" width="144" height="96"></a>
	
</div>
					
				
				</div>
						</div>
			</div>
		</div>
				<div data-id="65137bf" class="elementor-element elementor-element-65137bf elementor-column elementor-col-50 elementor-inner-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="e2542d0" class="elementor-element elementor-element-e2542d0 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div style="font-size: 20px" class="elementor-text-editor elementor-clearfix"><p>Занятия на льду проводятся как индивидуально так и в мини
группах до 5 человек. План тренировки составляется индивидуально для каждого
хоккеиста или группы хоккеистов. На льду вы можете улучшать технику владения шайбой,
технику катания, передачи и реализацию игровых моментов. Цена 1 час 4000 руб.</p></div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<div data-id="e97072a" class="elementor-element elementor-element-e97072a elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div data-id="e620659" class="elementor-element elementor-element-e620659 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p></p></div>
				</div>
				</div>
				<div data-id="27b68ee" class="elementor-element elementor-element-27b68ee elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				
				<section data-id="2e23e7b" class="elementor-element elementor-element-2e23e7b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div data-id="b9a7c31" class="elementor-element elementor-element-b9a7c31 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
			<div class="elementor-column-wrap elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div data-id="29c7a2c" class="elementor-element elementor-element-29c7a2c elementor-widget elementor-widget-spacer" data-element_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
					
			</div> <!-- ast-container -->

		</div>




					
		</section>

				
						</div>
			</div>
		</div>

{% endblock %}